@{block #title}Import administration panel :: {include #parent}{/block}

@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
@{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<span class="actual">Produkty</span>
<a href="{plink Invoice:}">Faktury</a>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}">Import</a>
{/block}

@{block #content}
<h2>Produkty</h2>
@{control productGrid}

@{/block}
