@{block #title}Main administration panel :: {include #parent}{/block}

@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
@{block #menu}
<span class="actual">Úvodní</span>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}">Faktury</a>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}">Import</a>
{/block}

@{block #content}

<script>
$(function() {
        $( "#dialogAddTask" ).dialog({
            autoOpen: false,
            width: 850,
            show: "drop",
            hide: "drop",
            modal: "true"
        });
        $( "#openerAddTask" ).click(function() {
            $( "#dialogAddTask" ).dialog( "open" );
            return false;
        });
    });
</script>

<h2>Dobrý den, vítejte v IVT Bufo systému.</h2>
{*
  <p>Máte <b>{$today_tasks}</b> úkolů na dneší den.</p>
  <p>Máte <b>{$expired_tasks}</b> zmeškaných úkolů.</p>
*}

{control todoCalendar, $today_tasks}

<a id="openerAddTask" href="#">Přidat nový úkol</a>, 
<a href="{plink Companies:New}">Přidat společnost</a>



<div id="dialogAddTask" title="Add Task">
    <script>
        $(function() {
            $( ".datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
    @{control addTaskForm}
</div>
<script type="text/javascript">
$("a#tasks_btn").click(function () {
        $("div#tasks").slideToggle("slow");
        if ( $.cookies.get("tasks")) $.cookies.set("tasks","false"); else $.cookies.set("tasks","true");
    });
</script>

@{/block}
