@{block #title}Companies :: {include #parent}{/block}

@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}

@{block #menu}
<a href="{plink Default:}">Úvodní</a>
<span class="actual">Společnosti</span>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}">Faktury</a>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}">Import</a>
{/block}


@{block content}
<a href="{link Companies:new}" id="add-firm">Přidat firmu</a>
<h2>Firmy {!$subject}</h2>
{snippet}
@{widget companyGrid}
{/snippet}



<!--
	<script>
	$(function() {
                $( "#dialog-confirm" ).dialog({
                        autoOpen: false,

                        resizable: false,
			height:150,
			modal: true,
                        width: 200
		});
        $( ".icon-del" ).click(function() {
            $( "#dialog-confirm" ).dialog( "open" );
            return true;
        });

	});
	</script>

<div id="dialog-confirm" title="Delete Company?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
</p>
</div>
-->

@{control confirmForm}

@{/block}
