{block #title}Companies :: {include #parent}{/block}
@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}">Faktury</a>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}">Import</a>
{/block}


@{block content}

<script>

//$.cookies.setOptions("{ company: 'true' }");
//$.cookies.setOptions("{ contactperson: 'true' }");
//$.cookies.setOptions("{ spsetup: 'true' }");
//$.cookies.setOptions("{ history: 'true' }");
//$.cookies.setOptions("{ partner: 'true' }");
//$.cookies.setOptions("{ tasks: 'true' }");

$(function() {
        $("div.task-gray").hide();

$( "#logoDialog" ).dialog({
            autoOpen: false,
            width: 300,
            show: "drop",
            hide: "drop",
            modal: "true"
        });

        $( "#openerLogo" ).click(function() {
            $( "#logoDialog" ).dialog( "open" );
            return false;
        });


$( "#dialogCompany" ).dialog({
            autoOpen: false,
            width: 500,
            show: "drop",
            hide: "drop",
            modal: "true"
        });

        $( "#openerCompany" ).click(function() {
            $( "#dialogCompany" ).dialog( "open" );
            return false;
        });

        $( "#dialogContactPerson" ).dialog({
            autoOpen: false,
            width: 500,
            show: "drop",
            hide: "drop",
            modal: "true"
        });

        $( "#openerContactPerson" ).click(function() {
            $( "#dialogContactPerson" ).dialog( "open" );
            return false;
        });

        $( "#dialogProducts" ).dialog({
            autoOpen: false,
            width: 700,
            show: "drop",
            hide: "drop",
            modal: "true"
        });

        $( "#openerProducts" ).click(function() {
            $( "#dialogProducts" ).dialog( "open" );
            return false;
        });


        $( "#dialogBusinessProposals" ).dialog({
            autoOpen: false,
            width: 500,
            show: "drop",
            hide: "drop",
            modal: "true"
        });

        $( "#openerBusinessProposals" ).click(function() {
            $( "#dialogBusinessProposals" ).dialog( "open" );
            return false;
        });


$( "#dialogStatus" ).dialog({
            autoOpen: false,
            width: 500,
            show: "drop",
            hide: "drop",
            modal: "true"
        });

        $( "#openerStatus" ).click(function() {
            $( "#dialogStatus" ).dialog( "open" );
            return false;
        });

        $( "#dialogAddTask" ).dialog({
            autoOpen: false,
            width: 850,
            show: "drop",
            hide: "drop",
            modal: "true"
        });

        $( "#openerAddTask" ).click(function() {
            $( "#dialogAddTask" ).dialog( "open" );
            return false;
        });

        $( "#openAll" ).click(function() {
            $("div#company").show();
            $("div#contactperson").show();
            $("div#spsetup").show();
            $("div#partner").show();
												$("div#history").show();
            $("div#tasks").show();

            $.cookies.set("company", "true");
            $.cookies.set("contactperson", "true");
            $.cookies.set("partner", "true");
												$.cookies.set("spsetup", "true");
            $.cookies.set("history", "true");
            $.cookies.set("tasks", "true");

        });


        $( "#closeAll" ).click(function() {
            $("div#company").hide();
            $("div#contactperson").hide();
            $("div#spsetup").hide();
            $("div#partner").hide();
												$("div#history").hide();
            $("div#tasks").hide();

            $.cookies.set("company", "false");
            $.cookies.set("contactperson", "false");
            $.cookies.set("spsetup", "false");
            $.cookies.set("partner", "false");
												$.cookies.set("history", "false");
            $.cookies.set("tasks", "false");
        });

    });
				
				
$( "#openAll" ).click();				
				
</script>

<!--
<div id="logoDialog" title="Logo upload">
    @{control uploadLogoForm}
</div>
-->

<div id="dialogCompany" title="Firemní info">
    @{control editCompanyForm}
</div>
<div id="dialogContactPerson" title="Kontaktní osoba">
    @{control editContactPersonForm}
</div>
<div id="dialogProducts" title="Zaslané vzorky">
    @{control editProductsForm}
</div>

<div id="dialogBusinessProposals" title="Obchodní případy">
@{control businessForm}
</div>

<div id="dialogStatus" title="Status společnosti">
    @{control editStatusForm}
</div>

<div id="dialogAddTask" title="Přidat úkol">
  @{control addTaskForm}
</div>

<script type="text/javascript">
    $(document).ready(function(){
        if ( $.cookies.get("company")) $("div#company").show(); else $("div#company").hide();
        if ( $.cookies.get("contactperson")) $("div#contactperson").show(); else $("div#contactperson").hide();
        if ( $.cookies.get("spsetup")) $("div#spsetup").show(); else $("div#spsetup").hide();
        if ( $.cookies.get("partner")) $("div#partner").show(); else $("div#partner").hide();
if ( $.cookies.get("history")) $("div#history").show(); else $("div#history").hide();
        if ( $.cookies.get("tasks")) $("div#tasks").show(); else $("tasks").hide();
    });
</script>

<div style="height: 40px;">
    <div style="float:left; font-size:20px; font-weight:bold;">{$company['name']} (ID: {$company['companyID']})</div>
</div>

<div class="mm-small">

    <div class="mm-title"><span>Detail společnosti</span>
        <a href="#"><img src="{$basePath}/images/datagrid/icons/page_edit.png" width="16" height="16" alt="" id="openerCompany" /></a>
    </div>
    
	<div class="mm-content-small">
	
        <div style="float: left;">       
			<b>{$company['name']}</b><br />
			{$company['adresStreet']}<br />
			{$company['adresPostalcode']} {$company['adresCity']}<br />
			{$country}<br />
			<b>IČ: </b>{$company['ico']}<br />
			<b>E-mail: </b>{$company['companyemail']}<br />
			<b>Telefon: </b>{$company['companyphone']}<br />
			<b>Fax: </b>{$company['fax']}
			<b>Web: </b><a href="{$web}" target="_blank">{$web}</a>
			<br /><br />
        </div>

    </div>
</div>




<div class="mm-small">
    <div class="mm-title"><span>Kontaktní osoba</span>
        <a href="#"><img src="{$basePath}/images/datagrid/icons/page_edit.png" width="16" height="16" alt="" id="openerContactPerson" /></a>
    </div>
    <div class="mm-content-small">
        <b>Jméno: </b>{$company['contactname']}
        <b>Příjmení: </b>{$company['contactsurname']}<br />
        <b>Email: </b><a href="mailto:{$company['contactemail']}">{$company['contactemail']}</a><br />
        <b>Telefon: </b>{$company['contactphone']}
        <b>GSM: </b>{$company['contactmobile']}
        <b>Fax: </b>{$company['contactfax']}<br />
        <b>Poznámka: </b>{$company['contactDescr']}
    </div>
</div>

<div class="mm-small invoices">
    <div class="mm-title"><span>Dodací adresy</span>
    </div>
	
    <div class="mm-content-small">
		{foreach $shipto_addresses as $address}
			
			<b>{$address->name}</b><br />
			{$address->street}<br />
			{$address->zip} {$address->city}
			<br /><br />
			
		{/foreach}
    </div>
</div>


<div class="mm-small products">
    <div class="mm-title"><span>Zaslané vzorky</span>
        <a href="#"><img src="{$basePath}/images/datagrid/icons/page_edit.png" width="16" height="16" alt="" id="openerProducts" /></a>
    </div>
    <div class="mm-content-small">

		{foreach $products as $product}			
			<a href="{link deleteProduct, $company['companyID'], $product->id}"><img src="{$basePath}/images/error.png" width="15" height="15" alt="" /></a>
            {$product->name}<br />
            <em>Zasláno {$product->submitted|date:'%d. %m. %Y'}</em>
            <br />
		{/foreach}

    </div>
</div>


<div class="mm-small">
    <div class="mm-title"><span>Obchodní případy</span>
        <a href="#"><img src="{$basePath}/images/datagrid/icons/page_edit.png" width="16" height="16" alt="" id="openerBusinessProposals" /></a>
    </div>
    <div  class="mm-content-small">
        {!$phone_proposal}
        {!$trade_proposal}
        {!$download}
    </div>
</div>

<div class="mm-small invoices">
    <div class="mm-title"><span>Faktury</span>
    </div>
	
    <div class="mm-content-small">
		<table>
			<tr>
				<th width="100">Datum</th>
				<th width="100">Var. symbol</th>
				<th>Suma</th>
			</tr>
		{foreach $invoices as $inv}
			<tr>
				<td><a href="{link Invoice:detail, $inv->id}" class="{$inv->amount2pay > 0 ? $inv->payable ? 'red' : 'green' : ''}"><b>{$inv->issued|date:'%d. %m. %Y'}</b></a></td>
				<td>{$inv->variable}</td>
				<td align="right">{$inv->pricetotal|number:'0':',':'.'},-</td>
			</tr>
		{/foreach}
		</table>
    </div>
</div>


<div class="clear">&nbsp;</div>
<div class="mm-med">
   Historie<span></span>
    <div class="mm-content-history">
        @{control historyForm}
    </div>
</div>

<div class="mm-med">
    <div class="mm-title"><span>Úkoly</span>        
        
        <a href="#" title="přidat úkol"><img src="{$basePath}/images/datagrid/icons/page_add.png" width="16" height="16" alt="" id="openerAddTask" /></a>
        <a href="#" title="zobrazit všechny" id="openerAllColor">All</a>
        <a href="#" title="zobrazit/skrýt nesplněné"><img src="{$basePath}/images/clipboard_delete.png" width="18" height="18" alt="" id="openerRed" /></a>
        <a href="#" title="zobrazit/skrýt dnešní"><img src="{$basePath}/images/clipboard_alert.png" width="18" height="18" alt="" id="openerGreene" /></a>
        <a href="#" title="zobrazit/skrýt čekající"><img src="{$basePath}/images/clipboard_full.png" width="18" height="18" alt="" id="openerBlack" /></a>
        <a href="#" title="zobrazit/skrýt splněné"><img src="{$basePath}/images/clipboard_check.png" width="18" height="18" alt="" id="openerGray" /></a>
    </div>

    <div id="tasks" class="mm-content">
        {foreach $tasks as $task}
        <div class='task-{if $task->status == "live"}{if date("Y-m-d")< $task->remind}black{elseif date("Y-m-d")>$task->remind}red{else}greene{/if}{else}gray{/if}'>
            <div class='task-head-{if $task->status == "live"}{if date("Y-m-d")< $task->remind}black{elseif date("Y-m-d")>$task->remind}red{else}greene{/if}{else}gray{/if}'>
               
                {$task->remind} <b>{$task->title}</b></div>

            <div class='task-body-{if $task->status == "live"}{if date("Y-m-d")< $task->remind}black{elseif date("Y-m-d")>$task->remind}red{else}greene{/if}{else}gray{/if}'><i>{$task->descr}</i></div>
            <div class='task-fother-{if $task->status == "live"}{if date("Y-m-d")< $task->remind}black{elseif date("Y-m-d")>$task->remind}red{else}greene{/if}{else}gray{/if}'></div>


<a class="eee" href="{plink Task:Edit, $todoID = $task->todoID}">Editovat</a>&nbsp;|&nbsp;
<a class="eee" href="{plink changeStatus! , $task->todoID}">{if $task->status == "live"}Hotovo{else}Probíhá{/if}</a>&nbsp;|&nbsp;
<a class="eee" href="{plink removeTodo!, $todoID = $task->todoID}">Smazat</a>

        </div>
        {/foreach}
    </div>
</div>
<div class="clear">&nbsp;</div>

<script type="text/javascript">
    $("img#company_btn").click(function () {
        $("div#company").slideToggle();
        if ( $.cookies.get("company")) $.cookies.set("company","false"); else $.cookies.set("company","true");
    });
    $("img#contactperson_btn").click(function () {
        $("div#contactperson").slideToggle();
        if ( $.cookies.get("contactperson")) $.cookies.set("contactperson","false"); else $.cookies.set("contactperson","true");
    });
    $("img#spsetup_btn").click(function () {
        $("div#spsetup").slideToggle();
        if ( $.cookies.get("spsetup")) $.cookies.set("spsetup","false"); else $.cookies.set("spsetup","true");
    });
    $("img#history_btn").click(function () {
        $("div#history").slideToggle();
        if ( $.cookies.get("history")) $.cookies.set("history","false"); else $.cookies.set("history","true");
    });
    $("img#partner_btn").click(function () {
        $("div#partner").slideToggle();
        if ( $.cookies.get("partner")) $.cookies.set("partner","false"); else $.cookies.set("partner","true");
    });

$("img#tasks_btn").click(function () {
        $("div#tasks").slideToggle();
        if ( $.cookies.get("tasks")) $.cookies.set("tasks","false"); else $.cookies.set("tasks","true");
    });

    $("#openerAllColor").click(function () {
        $("div.task-red").show();
        $("div.task-gray").show();
        $("div.task-greene").show();
        $("div.task-black").show();
    });
    $("#openerRed").click(function () {
        $("div.task-red").slideToggle();
    });
    $("#openerGreene").click(function () {
        $("div.task-greene").slideToggle();
    });
    $("#openerBlack").click(function () {
        $("div.task-black").slideToggle();
    });
    $("#openerGray").click(function () {
        $("div.task-gray").slideToggle();
    });


</script>

@{/block}
