{block #title}Companies :: {include #parent}{/block}
@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}">Faktury</a>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}">Import</a>
{/block}



@{block content}


<b>Založit novou firmu:</b>
<div class="form">
@{control addCompanyForm}
</div>

<script>
	<!-- ARES SEARCH -->	
	$(document).ready(function() {
		
		var ares = 'http://wwwinfo.mfcr.cz/cgi-bin/ares/ares_es.cgi?ico=[ico]&xml=1';
		
		$('span.ares a').click(function() { 
			if ($('[name=ico]').val() != '') $(this).attr('href', String(ares).replace('[ico]', String($('[name=ico]').val()).split(' ').join('')));
			else { alert('Prosím, zadejte IČ firmy bez mezer.'); return false; }
		});
	});
</script>

@{/block}
