@{block #title}My setup{/block}
@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}

@{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}">Faktury</a>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}">Import</a>
{/block}

@{block #content}

<p>Zde můžete změnit své přihlašovací heslo.</p>
 @{control changePassForm}
@{/block}
