@{block #title}Import administration panel :: {include #parent}{/block}

@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
@{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<span class="actual">Faktury</span>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}">Import</a>
{/block}

@{block #content}
<h2>Faktury {!$subject}</h2>

@{control invoiceGrid}

@{/block}