@{block #title}Import administration panel :: {include #parent}{/block}

@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
@{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}"><span class="actual">Faktury</span></a>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}">Import</a>
{/block}

@{block #content}
<h2>Detail faktury {$invoice->variable}</h2>

<table>
	<tr>
		<td width="150">Firma:</td>
		<td><b>{$invoice->company}</b></td>
	</tr>
	<tr>
		<td width="150">Var. symbol:</td>
		<td><b>{$invoice->variable}</b></td>
	</tr>
	<tr>
		<td width="150">Datum:</td>
		<td><b>{$invoice->issued|date:'%d. %m. %Y'}</b></td>
	</tr>
	<tr>
		<td width="150">Splatnost:</td>
		<td><b>{$invoice->duedate|date:'%d. %m. %Y'}</b></td>
	</tr>
	<tr>
		<td width="150">Suma:</td>
		<td><b>{$invoice->pricetotal|number:'0':',':'.'},-</b></td>
	</tr>
</table>

<br />

<table class="invoice-items">
	<tr>
		<th width="650" style="text-align:left">Položka</th>
		<th width="80">Počet</th>
		<th width="80">Cena/j</th>
		<th width="110">Celkem s DPH</th>	
	</tr>
{foreach $invoice->items as $item}
	<tr>
		<td>{$item->item}</td>
		<td align="right">{$item->quantity|number:'0':',':' '} ks</td>
		<td align="right">{$item->unitprice|number:'2':',':' '} Kč</td>
		<td align="right">{$item->totalprice|number:'2':',':' '} Kč</td>	
	</tr>
{/foreach}
</table>	

<p align="right"><a href="javascript:history.back()"><b>ZPĚT NA SEZNAM</b></a></p>
	
@{/block}
