@{block #title}Import administration panel :: {include #parent}{/block}

@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
@{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}">Faktury</a>
<a href="{plink Task:}">Upomínky</a>
<span class="actual">Import</span>
{/block}

@{block #content}

<h2>Import agendy ze systému POHODA</h2>

@{control importForm}

@{/block}
