@{block #title}Import administration panel :: {include #parent}{/block}

@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
@{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}">Faktury</a>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}" class="actual">Import</a>
{/block}

@{block #content}

<h2>Import proběhl úspěšně</h2>
<p><a href="{plink Import:}">Nový import</a></p>

@{/block}
