<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sk" lang="sk">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="{$robots}" n:ifset="$robots" />
        <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon" />
        <title>{block #title}Bufo system{/block}</title>
        <link rel="stylesheet" href="{$basePath}/css/main.css?v3" type="text/css" media="screen, projection, tv" />

        <!-- jQuery -->
        <script src="{$basePath}/js/jquery-1.4.min.js" type="text/javascript"></script>
        <!-- jQuery -->

        <!-- DataGrid -->
        <link rel="stylesheet" media="screen" href="{$baseUri}css/jquery.ui.all.css" type="text/css" />
        <link rel="stylesheet" media="screen" href="{$baseUri}css/datagrid.css" type="text/css" />
        <link rel="stylesheet" media="screen" href="{$baseUri}css/ajax.css" type="text/css" />
        <script type="text/javascript" src="{$baseUri}js/jquery.ui.core.js"></script>
        <script type="text/javascript" src="{$baseUri}js/jquery.ui.datepicker.js"></script>
        <script type="text/javascript" src="{$baseUri}js/jquery.livequery.js"></script>
        <script src="{$baseUri}js/jquery.nette.js" type="text/javascript"></script>
        <script src="{$baseUri}js/datagrid.js" type="text/javascript"></script>
        <!-- DataGrid -->

<!-- Dialog -->
       	<link rel="stylesheet" href="{$baseUri}css/jquery.ui.all.css" />
	<script type="text/javascript" src="{$baseUri}js/external/jquery.bgiframe-2.1.1.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery.ui.draggable.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery.ui.position.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery.ui.resizable.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery.ui.dialog.js"></script>
        <!--<script type="text/javascript" src="{$baseUri}js/jquery.ui.datepicker.js"></script>-->
        <script type="text/javascript" src="{$baseUri}js/jquery.effects.core.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery.effects.drop.js"></script>
<!-- Dialog -->


<!-- Tiny MCE -->
<script type="text/javascript" src="{$baseUri}js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
    mode: "specific_textareas",
    editor_selector: "mceEditor",
    theme : "advanced",
    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,fontsizeselect,|,forecolor,backcolor,sub,sup,|,charmap",
    theme_advanced_buttons2 : "",
    theme_advanced_buttons3 : "",
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    theme_advanced_statusbar_location : false,
    width : "458", height : "400"
   });
</script>
<!-- Tiny MCE -->

<!-- Cookies -->
        <script type="text/javascript" src="{$baseUri}js/jquery.cookies.2.2.0.min.js"></script>
<!-- Cookies -->

<!-- Confirmation -->
	<script src="{$baseUri}js/jquery.ajaxform.js" type="text/javascript"></script>
	<link rel="stylesheet" media="screen,projection,tv" href="{$baseUri}css/confirmform.css" type="text/css" />
<!-- Confirmation -->
    <script>
        $(function() {


            $( ".datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });

        });
    </script>

    </head>
    <body>
        <div id="wrapper">





            <div id="header">
                <a href="{plink Default:}"><img src="{$basePath}/img/ivt-logo.png"alt="Bufo system" style="margin-left: -40px;" /></a>
                <div id="userbox">
                    {if isset($user)}
                    <p>
                        Jste přihlášen/a jako: <strong>{$user->name}</strong><br />
                        {include #settings}&nbsp;<a href="{link Default:logout}">Odhlásit</a>
                    </p>
                    {/if}
                </div><!-- #userbox -->
                <div style="clear: both; line-height: 0px; font-size: 0px; height: 0px">&nbsp;</div>
            </div><!-- #header -->

            <div id="main-menu">
                <div id="menu">
                    {include #menu}
                </div><!-- #menu -->
            </div>


            <div id="content">

	@{include #content}

            </div><!-- #content -->

            <div id="footer">
                <p>Copyright &copy; 2013 <span style="color: #ff0000; font-weight: bold;">buffo</span><span style="color: #000; font-weight: bold;">system</span></p>
            </div><!-- #footer -->

        </div><!-- #wrapper -->
    </body>
</html>
