body { background-color:#fff; color:#333; font:14px/1.5 Arial, "Trebuchet MS", "Geneva CE", lucida, sans-serif;}

h2 { font-size: 1.0em; }

#content{ border: 1px solid #555; margin:5px auto; margin-top:0px; padding:1em; width:1100px; background-color:#fff; margin-bottom: 0px;
   -webkit-border-radius:  5px 5px;
   -moz-border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
        border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;


        -webkit-box-shadow: 0 8px 6px -6px grey;
	   -moz-box-shadow: 0 8px 6px -6px grey;
	        box-shadow: 0 8px 6px -6px grey;
}
#footer {margin:0px auto; padding:0px; width:1020px; background-color:transparent;}
#header {margin:5px auto; width:1000px; background-color:transparent;}
#main-menu { margin:0px auto; width:1100px; background-color:transparent;}
#header img {float:left;}
#userbox {float:right; margin-top: 20px; text-align: right;}
a[href^="error:"] { background-color:red; color:white; padding:0.05em 0.2em; }
div.flash { background-color:#fff9d7; border:1px solid #e2c822; color:black; margin:1em 0; padding:1em; }
a img {border: 0px;}

/*************************/
/**     Login page      **/
/*************************/
#log-header {margin:5px auto; width:431px; background-color:#fff;}
#log-content { border: 1px solid gray; margin:5px auto; padding:1em; width:300px; background-color:#d9d9d9;background:url(../img/loginbox_bg.png) no-repeat right bottom;background-color:#d9d9d9;
   -webkit-border-radius:  5px 5px;
   -moz-border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
        border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;

        -webkit-box-shadow: 0 8px 6px -6px grey;
	   -moz-box-shadow: 0 8px 6px -6px grey;
	        box-shadow: 0 8px 6px -6px grey;

}
div.log-flash { background-color:#262626; border:1px solid #dcdcdc; color:#fff; margin:3px; padding:5px; }


/****************/
/**     Menu   **/
/****************/
#menu {width:1000px;}
#menu a{
   font-size:14px;
   text-decoration: none;
   padding: 5px;
   padding-bottom: 2px;
   background-color: #d9d9d9;
   color: #6699cc;
   border: 1px solid #silver;
   -webkit-border-radius:  5px 5px;
   -moz-border-radius:  5px 5px 0px 0px / 5px 5px 0px 0px;
        border-radius:  5px 5px 0px 0px / 5px 5px 0px 0px;
}
#menu a:hover{color: blue; font-size:14px;text-decoration: none;}

.actual {
   background-color: #fff;
   padding: 5px;
   padding-bottom: 2px;
   color: black;
   border: 1px solid #555;
   border-bottom: 1px solid white;
   -webkit-border-radius:  5px 5px;
   -moz-border-radius:  5px 5px 0px 0px / 5px 5px 0px 0px;
        border-radius:  5px 5px 0px 0px / 5px 5px 0px 0px;

   }

/**********************************/
/**     Default page - Main      **/
/**********************************/

.mm a {text-decoration: none; margin-left: 10px; font-size: 12px; color: #aaa;}

/******************************/
/**     Company details      **/
/******************************/

.mm {
background-color: whitesmoke; 
margin-top: 10px; 
margin-right:10px;
border: 3px solid darkgray;
       -webkit-border-radius:  5px 5px;
       -moz-border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
        border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
}

.mm-small {
		background-color: #ffffcc; 
		margin-top: 10px; 
		border: 3px solid darkgray;
		min-height:230px;
		margin-right:10px;
       float: left;
       width: 310px;
       -webkit-border-radius:  5px 5px;
       -moz-border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
        border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
}

.mm-content-small {
	
}

.mm-med {background-color: whitesmoke; 
margin-top: 10px; 
margin-right:10px;
border: 3px solid darkgray;
       float: left;
       width: 475px;
       -webkit-border-radius:  5px 5px;
       -moz-border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
        border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
}

.mm-title {background-color: darkgray; color: #fff; cursor: pointer; cursor: hand;}
.mm-title span {margin-left: 10px; font-weight: bold;}
.mm-title img {float:right; margin-right:8px; margin-top:2px;}
.mm-content {padding: 10px; background-color: whitesmoke;}
.mm-content-small {padding: 10px; background-color: #ffffcc;}
.mm-content-history {background-color: #fff;}
.internal-info {text-align: center; color: #555555; font-size: 0.8em;}
.mm-title a {float:right; margin-right:0px; margin-top:2px;}

.task-gray {font-size: 12px; margin-bottom: 10px; color:#ccc; background-color:#dcdcdc; padding:5px;
            -webkit-border-radius:  5px 5px;
   -moz-border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
        border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
}
.task-head-gray {}
.task-body-gray {color:#ccc;margin-left: 0px;}
.task-fother-gray {font-size: 10px; text-align: right;}


.task-red {font-size: 12px; margin-bottom: 10px; background-color: #ffcccc; padding:5px;            -webkit-border-radius:  5px 5px;
   -moz-border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
        border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
}
.task-head-red {color: #ff0000;}
.task-body-red {color:#666;margin-left: 0px;}
.task-fother-red {font-size: 10px; text-align: right;}


.task-greene {font-size: 12px; margin-bottom: 10px; background-color: lightgreen; padding:5px;            -webkit-border-radius:  5px 5px;
   -moz-border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
        border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
}
.task-head-greene {color:limegreen;}
.task-body-greene {color:#666;margin-left: 0px;}
.task-fother-greene {font-size: 10px; text-align: right;}


.task-black {font-size: 12px; margin-bottom: 10px; background-color: whitesmoke; padding:5px;            -webkit-border-radius:  5px 5px;
   -moz-border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
        border-radius:  5px 5px 5px 5px / 5px 5px 5px 5px;
}
.task-head-black {color: #000;}
.task-body-black {color:#666;margin-left: 0px;}
.task-fother-black {font-size: 10px; text-align: right;}



/**************** Icons *****************/


span.icon {
	float: left;
	margin: 1px 4px;
}
.icon {
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}
.icon-add {
	background-image: url('../images/datagrid/icons/page_add.png');
}
.icon-edit {
	background-image: url('../images/datagrid/icons/page_edit.png');
}
.icon-del {
	background-image: url('../images/datagrid/icons/page_delete.png');
}

span.icon-del { margin-left:15px; }

.icon-copy, .icon-invoice {
	background-image: url('../images/datagrid/icons/page_copy.png');
}
.icon-save {
	background-image: url('../images/datagrid/icons/page_save.png');
}
.icon-detail {
	background-image: url('../images/datagrid/icons/page_detail.png');
}
.icon-print {
	background-image: url('../images/datagrid/icons/printer.png');
}
.icon-bin {
	background-image: url('../images/datagrid/icons/bin_closed.png');
}
.icon-find {
	background-image: url('../images/datagrid/icons/find.png');
}
.icon-refresh, .icon-invert {
	background-image: url('../images/datagrid/icons/arrow_refresh.png');
}
.icon-invert, .icon-find {
	cursor: pointer;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 0 !important;
}
.icon-shipped, .icon-resolved, .icon-cancelled,
.icon-process, .icon-hold, .icon-disputed,
.icon-no-orders, .icon-invert, .icon-find {
	float: none !important
}
.icon-shipped {
	background-image: url('../images/datagrid/icons/cart_go.png');
}
.icon-resolved {
	background-image: url('../images/datagrid/icons/flag_green.png');
}
.icon-cancelled {
	background-image: url('../images/datagrid/icons/flag_red.png');
}
.icon-no-orders {
	background-image: url('../images/datagrid/icons/box.png');
}
.icon-process {
	background-image: url('../images/datagrid/icons/date_go.png');
}
.icon-hold {
	background-image: url('../images/datagrid/icons/flag_orange.png');
}
.icon-disputed {
	background-image: url('../images/datagrid/icons/flag_blue.png');
}
select, input {
        border: 1px solid gray;
}
a:visited, a {color: #6699cc; text-decoration: none;}
a:hover {color: blue;}

.clear {display: block; clear: both; height: 1px; line-height: 1px;}
a.eee {margin: 0px; padding: 0px; color: #6699cc;}
a.eee:hover {color: blue;}


.button {

color: white; 
background-color: #444; 
padding: 5px 10px; 
margin-top:15px;
border: none;
    
-webkit-border-radius:  8px 8px;
-moz-border-radius:  8px 8px 8px 8px / 8px 8px 8px 8px;
border-radius:  8px 8px 8px 8px / 8px 8px 8px 8px;

}
.button:hover {background-color: black;}

input[name=cancel] {
	color:#666666;
	background-color:#CCCCCC;
}

table.datagrid td.red, a.red { color:#FF0000; font-weight:bold; }
table.datagrid td.green, a.green { color:#390; }

table.datagrid td[name=company] {
	padding-left:20px;
}

table.datagrid td.individual {
	background:url('../images/datagrid/icons/flag_red.png') center left no-repeat;
}

table.invoice-items th {
	text-align:right;
	padding:5px;
	border-bottom:#CCC solid 1px;	
}

.mm-small.invoices .mm-content-small {
	max-height:160px;
	overflow:auto;
}

.mm-small.products .mm-content-small {
	font-size:12px;
	max-height:160px;
	overflow:auto;
}

.mm-small.products .mm-content-small em {
	font-size:11px;
	color:#999999;
	margin-left:18px;
}


/*  C A L E N D A R   G R I D  */

div.calendar {
  font-size:85%;
	width:100%;
	border:1px solid #CCCCCC;
	overflow:hidden;
}

table.calendar {
	width:100%;
}

table.longterm th {
	text-align:center;
	font-weight:normal;
	border:1px solid #EBEBEB;
}

table.longterm tr.months th {
	font-size:22px;
	color:#666666;
	background-color:#FFFFFF;
}

table.longterm tr.weeks th {
	font-size:16px;
	color:#666666;
	background-color:#FFFFFF;
}

table.longterm tr.weeks th.even {
	background-color:#E8E8FF;
}

table.longterm tr.days th.even {
	background-color:#CCE0EB;
}


table.longterm tr.weekdays th {
	min-width:30px;
}

table.longterm td {
	border:1px solid #FFFFFF;
}

table.longterm .taskcell a {
	position:relative;
}


table.calendar tr:hover td {
	background:none;
}

table.calendar tr.daybar th, table.calendar .weekbar {
	text-align:center;
	width:105px;
}

table.calendar tr th.week-column {
	width:70px;
}

table.calendar .weekbar {
	color:#333333;
	font-weight:bold;
	background-color:#EBFFE1;
}

table.calendar th {
	padding:3px;
}

table.calendar .taskcell {
	font-size:0.9em;
	vertical-align:top;
	height:40px;
}

table.calendar .taskcell ul {
	list-style:none;
	padding:2px 2px 2px 25px;
	margin:0px 0px 0px 0px;
	border-bottom:#EFEFEF solid 1px;
}

table.calendar .taskcell li.company {
	color:#5E0000;
	font-weight:bold;
	list-style-image:url('images/company.png');
}

table.calendar .taskcell li.title {
	color:#006633;
	list-style-image:url('images/note.png');
}

table.calendar .taskcell li.salesman {
	color:#000000;
	list-style-image:url('images/salesman.png');
}


table.calendar .taskcell a {
 text-decoration:none;
}

table.calendar .taskcell a ul {
 	border-bottom:2px solid #FFFFFF;
}

table.calendar .taskcell a ul li {
 	margin-bottom:5px;
}

table.calendar .taskcell a.live ul {
	background-color:#FFE9D2;
}

table.calendar .taskcell a.done ul li {
	/*color:#CCCCCC;*/
	font-style:italic;
	opacity:0.2;
}

table.calendar .taskcell ul:hover {
	background-color:#EBFFE1;	
}

table.calendar .taskcell td {
	white-space:nowrap;
}

table.calendar .taskcell ul {
	padding-right:15px;
}

table.calendar tr.days th {
	min-width:140px;
}

form td, form th {
	padding:5px 10px;;
}

div.form th {
	text-align:left;
}

div.form th label {
	display:block;
	min-width:200px;
}

.mm-content-history th, .mm-content-history td {
	padding:0px;
}

p.info {
	padding-left:20px;
	background:url('/images/info.png') 0px 3px no-repeat;
}

p.success {
	padding-left:20px;
	background:url('/images/success.png') 0px 3px no-repeat;
}

p.warning {
	padding-left:20px;
	background:url('/images/warning.png') 0px 3px no-repeat;
}

a#add-firm {
	font-size:15px;
	font-weight:bold;
	padding-left:20px;
	background:url('/images/datagrid/icons/application_form_add.png') 0px 3px no-repeat;
	float:right;
}