@{block #title}Companies :: {include #parent}{/block}
@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
@{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}">Faktury</a>
<span class="actual">Upomínky</span>
<a href="{plink Import:}">Import</a>

{/block}


@{block content}

{snippet}
@{widget tasksGrid}
{/snippet}
@{/block}
