@{block #title}Companies :: {include #parent}{/block}
@{block #settings}<a href="{link Setup:default}">Nastavení</a>{/block}
@{block #menu}
<a href="{plink Default:}">Úvodní</a>
<a href="{plink Companies:}">Společnosti</a>
<a href="{plink Product:}">Produkty</a>
<a href="{plink Invoice:}">Faktury</a>
<a href="{plink Task:}">Upomínky</a>
<a href="{plink Import:}">Import</a>

{/block}


@{block content}
View Task  ID{$todo->todoID}<br />
{$todo->remind}<br />
<b>{$todo->title}</b><br />
{$todo->descr}<br />
<a href="{plink Task:Edit, $todoID = $todo->todoID}">Edit</a>&nbsp;|&nbsp;
<a href="{plink Companies:detail, $sompanyID = $todo->company}">Go to company</a>&nbsp;|&nbsp;
<a href="{plink removeTodo!, $todoID = $todo->todoID}">Delete</a>&nbsp;|&nbsp;
<a href="{plink doneTodo!, $todoID = $todo->todoID}">Done</a>
@{/block}