<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sk" lang="sk">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="{$robots}" n:ifset="$robots" />
  <link rel="shortcut icon" href="{$basePath}/favicon.ico">
  <title>{block #title}Bufo system{/block}</title>
  <link rel="stylesheet" href="{$basePath}/css/main.css" type="text/css" media="screen, projection, tv" />
</head>
<body>
   <div id="log-header">
   <img src="{$basePath}/img/ivt-logo.png" alt="Bufo system" />
   <div style="clear: both; line-height: 0px; font-size: 0px; height: 0px">&nbsp;</div>
      </div><!-- #header -->
  <div id="log-content">
    {foreach $flashes as $flash}<div class="log-flash {$flash->type}">{$flash->message}</div>{/foreach}
    {include #content}
  </div><!-- #content -->

</body>
</html>
